.title_img{
  position: relative;
  text-align: center;
  background-color: #bebe77;
}
.img-title{
  opacity: 0.8;
}
.describe{
  width: 90%;
  margin: 40px auto;
}
.pppp{
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  display: inline;
}
.p5{
  display: inline;
  font-weight: 700;
  margin-left: 30px;
}
.infor_font{
  font-size: 18px;
  font-weight: 400;
  line-height: 25.5px;
}